<p>
  <a href="/">People Finder</a> |
  <a href="/cloud">Professions Cloud</a> |
  <a href="/pairs">Professions Pairs</a>
</p>

<h1>Found People: <%= @people_count %></h1>

<form action="/professions" method="get">
  <input type="text" name="search" value="<%= params[:search] %>">
  <input type="submit" value="Search">
</form>

<p>
<% if (params[:page] || 0).to_i > 0 %>
  <a href="/professions?search=<%= params[:search] %>&page=<%= params[:page].to_i - 1 %>"><<</a> ||
<% end %>
<% if (params[:page] || 0).to_i < @people_count / 100 %>
  <a href="/professions?search=<%= params[:search] %>&page=<%= params[:page].to_i + 1 %>">>></a>
<% end %>
</p>

<ul>
<% @people.each do |person| %>
  <li><a href="/people/<%= person.id %>?search=<%= params[:search] %>"><%= person.full_name %></a></li>
<% end %>
</ul>